@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@theme {
  --color-primary-DEFAULT: #f43f5e;
  --color-primary-hover: #e11d48;
  --color-primary-dark: #db2777;
  --font-sans: 'Inter', sans-serif;
}
